@font-face {
  font-family: 'poppins-bold';
  src: url('./fonts/poppins-bold.ttf');
}
@font-face {
  font-family: 'poppins-medium';
  src: url('./fonts/poppins-medium.ttf');
}
@font-face {
  font-family: 'poppins-regular';
  src: url('./fonts/poppins-regular.ttf');
}
@font-face {
  font-family: 'poppins-semibold';
  src: url('./fonts/poppins-semibold.ttf');
}

@font-face {
  font-family: 'mdi';
  src: url('/node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf');
}

.icon::before { /* fait belek c'est sur le before */
  font-family: "mdi", sans-serif;
}

*, *::before, *::after {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #1C1C1C;
  --black-2: #111111;

  --gray-1: #454545;
  --gray-2: #c6c6c6;

  --blue : #8ae4ff;

  --orange: #FAC748;
  --orangeDark :  #c79005;
  --orange-2: #ffd876;

  --yellow:#f5ff82;
  --green:#74fc62;
  --red:#ff454e
}

html, body {
  background-color: var(--black);
  font-family: 'poppins-regular', sans-serif;
  color: white;
}

b {
  font-family: "poppins-bold", sans-serif;
}

/* INPUTS */
div.form-field {
  &>label {
    display: block;
    margin-bottom: .5em;
    font-size: .9em;
    color: var(--gray-2);

    &.required {
      &::after {
        margin-left: .5em;
        content: "*";
        color: var(--red);
      }
    }
  }

  &>input {
    background-color: var(--black-2);
    border: 1px solid var(--gray-1);
    color: white;

    padding: .7em 1em;

    border-radius: 10px;
    font-family: "poppins-regular", sans-serif;

    width: 100%;
  }
}

button {
  border: 1px solid transparent;
  padding: .5em .8em;
  border-radius: 10px;
  cursor: pointer;

  font-family: "poppins-regular", sans-serif;
  font-size: 1em;

  transition: all .5s ease;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}