name: Build and deploy
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: npm install, then build the project
        run: |
          npm install
          npm run build
      - name: tar the folder
        run: |
          echo ::group::Archive artifact
          tar \
          --dereference --hard-dereference \
          --directory "dist/" \
          -cvf "$RUNNER_TEMP/artifact.tar" \
          --exclude=.git \
          --exclude=.github \
          .
          echo ::endgroup::
      - name: upload pages artifacts
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Upload it on github pages
        uses: actions/deploy-pages@v4